<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Flask - Celery Example</title>
  <meta name="description" content="Flask - Celery Example">
  <meta name="author" content="Andrew">
</head>

<body>
    <div>
        <h1>Excel Report Generator</h1>
        <hr />
        <div>
            <button>Generate Small Excel</button>
            <button>Generate Medium Excel</button>
            <button>Generate Large Excel</button>
        </div>
    </div>

    <div>
        <h1>Files</h1>
        <hr />
    </div>
</body>
</html>