{% extends 'base.html' %}

{% block javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#small').on('click', function() {
                generate_report('Small', 5);
            });

            $('#medium').on('click', function() {
                generate_report('Medium', 50);
            });

            $('#large').on('click', function() {
                generate_report('Large', 100);
            });

            function generate_report(description, size) {
                div = $('<div class="progress"><div id="description">' + description + ' File</div><div></div><div>0%</div><div id="download"></div></div><hr style="width: 50%" />');
                $('#progress').append(div);

                // create a progress bar
                var nanobar = new Nanobar({ bg: '#44f', target: div[0].childNodes[1] });

                $.ajax({
                    url: '/generate_report',
                    type: 'GET',
                    data: {size: size},
                    success: function(data, status, request) {
                        status_url = request.getResponseHeader('Location');
                        update_progress(status_url, nanobar, div[0]);
                    },
                    fail: function(error) {
                        console.log('error');
                    }
                }) 
            }

            function update_progress(status_url, nanobar, status_div) {
                // send GET request to status URL
                $.getJSON(status_url, function(data) {
                    // update UI
                    percent = parseInt(data['current'] * 100 / data['total']);
                    nanobar.go(percent);
                    $(status_div.childNodes[2]).text(percent + '%');

                    if (data['status'] == 'COMPLETED') {
                        download_link = $('<a>Download</a>');
                        download_link.attr('href', data['url']);
                        $(status_div.childNodes[2]).append(download_link);
                    } else {
                        // rerun in 2 seconds
                        setTimeout(function() {
                            update_progress(status_url, nanobar, status_div);
                        }, 2000);
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        <h1>Excel Report Generator</h1>
        <hr />
        <div>
            <button id='small'>Generate Small Excel</button>
            <button id='medium'>Generate Medium Excel</button>
            <button id='large'>Generate Large Excel</button>
        </div>
    </div>

    <div>
        <h1>Reports</h1>
        <hr />
        <div id='progress'></div>
    </div>
{% endblock %}
